<div class="banner">
  <p>
    <a
      style="
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
      "
      class="plain__link"
      href="https://cash.app/$LilOleMeh"
      target="_blank"
      >DONATE&nbsp;
      <span
        ><img
          src="assets/images/cash_app_logo.svg"
          alt="Cash App Logo"
          height="20px"
      /></span>
      &nbsp;<span style="font-size: 11px"
        >Become a VIP and enjoy exclusive perks!</span
      >
    </a>
  </p>
</div>
