<footer class="footer">
  <div class="footer__content">
    <div class="footer__copyright">
      <div>
       <p style="font-weight: 600; font-size: 16px;">© 2024 Brittany Roman Ltd.<p>
      </div>
      <!-- <div style="display: flex; margin-bottom: 1.5rem;justify-content: center; font-size: 12px;">
        <a class="plain__link" href="https://cash.app/$LilOleMeh" target="_blank"><small>Donate ❤️️</small></a>
      </div> -->
      <div style="margin-top: 1rem; margin-bottom: 1.5rem; display: flex; justify-content: center;">
        <div style="display: inline;">
          <a href="#""><small>Privacy Policy</small></a>
          <a href="#""><small>Terms</small></a>
          <a href="#""><small>Accessibility</small></a>
        </div>
      </div>
    </div>
  </div>
</footer>
