<footer class="footer">
  <div class="footer__content">
    <div class="footer__copyright">
      <div>
       <p style="font-weight: 600; font-size: 14px;">© 2024 Brittany Roman Ltd.<p>
      </div>
      <div style="margin-top: 1rem; margin-bottom: 1.5rem;">
        <div style="display: inline;">
          <a href="#""><small>Privacy Policy</small></a>
          <a href="#""><small>Terms</small></a>
          <a href="#""><small>Accessibility</small></a>
        </div>
    </div>
  </div>
</footer>
